@import url('dist/lib/bootstrap/css/bootstrap.css');

.bricktops-slider {
  
}

.bricktops-icones {

}

.bricktops-principais-cafes {

}

.bricktops-cafes-especiais {

}

.bricktops-notas-sensoriais {

}

.bricktops-guia-metodos {

}

.bricktops-barra-superior {
  background-color: coral;
  color: #fff;
  height: 2em;
}

.bricktops-barra-superior h4{
  padding-top: 6px;
  font-size: 13px;
}

.bricktops-logo {
  padding: 0;
  margin: 1% 0;
  max-height: 65px;
}
